<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome tooo <%= title %></p>
    <a href="/about">O stronie</a><br>
    <br>
    <a href="/groups">Grupy</a><br>
    <a href="/students">Uczniowie</a><br>
    <a href="/subjects">Zachowanie</a><br>
    <a href="/behaviours_register">Rejestr Zachowań</a>
</body>
</html>
